body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

img {
    width: 100vw;
    height: auto;
    display: block;
}




/* Gradient Overlay */
